[project]
	description = es para probar darle permisos a muddy
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JuanDeccechis
	push = group elmuddyTeam
	pushMerge = group elmuddyTeam
	label-Code-Review = -2..+2 group elmuddyTeam
	label-Verified = -1..+1 group elmuddyTeam
[access "refs/for/refs/*"]
	read = group elmuddyTeam
	read = group user/JuanDeccechis
	push = group elmuddyTeam
	push = group user/JuanDeccechis
	label-Code-Review = -2..+2 group elmuddyTeam
	label-Code-Review = -2..+2 group user/JuanDeccechis
	label-Verified = -1..+1 group elmuddyTeam
	label-Verified = -1..+1 group user/JuanDeccechis
	rebase = group user/JuanDeccechis
	removeReviewer = group user/JuanDeccechis
	submit = group elmuddyTeam
	submit = group user/JuanDeccechis
[access "refs/heads/*"]
	read = group user/JuanDeccechis
	create = group user/JuanDeccechis
	push = +force group user/JuanDeccechis
	pushMerge = group user/JuanDeccechis
[access "refs/tags/*"]
	push = +force group elmuddyTeam
	push = group user/JuanDeccechis
	push = +force group user/JuanDeccechis
[receive]
	requireSignedOffBy = true
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
